@import "tailwindcss";

@theme{
    --color-background:var(--background);
    --color-text:var(--primary-text);
}

:root{
    --background:#eee;
    --primary-text: #333;
}
.dark{
    --background:#333;
    --primary-text: #eee;
}

@layer utilities {
  .smooth-transition {
    @apply transition duration-300 ease-in-out;
  }
}
